<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav>
        <ul>
          <li><a href="#" onclick="showContent('home')">Homepage</a></li>
          <li><a href="#" onclick="showContent('research')">Research Interest</a></li>
          <li><a href="#" onclick="showContent('news')">News</a></li>
          <li><a href="#" onclick="showContent('educations')">Educations</a></li>
          <li><a href="#" onclick="showContent('publications')">Publications</a></li>
          <li><a href="#" onclick="showContent('honors')">Honors and Awards</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>