/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 26; // 文档的基础字体大小

/* paragraph indention */
$paragraph-indent           : false; // 段落缩进设置，true表示启用缩进，false表示不启用
$indent-var                 : 0.5em; // 缩进的大小

/* system typefaces */
$serif                      : Georgia, Times, serif; // 衬线字体
$sans-serif                 : "Trebuchet MS", Helvetica, sans-serif; // 无衬线字体
$monospace                  : Monaco, Consolas, "Lucida Console", monospace; // 等宽字体

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif; // 窄无衬线字体
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif; // Helvetica字体

/* serif typefaces */
$georgia                    : Georgia, serif; // Georgia字体
$times                      : Times, serif; // Times字体
$bodoni                     : "Bodoni MT", serif; // Bodoni字体
$calisto                    : "Calisto MT", serif; // Calisto字体
$garamond                   : Garamond, serif; // Garamond字体

$global-font-family         : $sans-serif; // 全局字体
$header-font-family         : $sans-serif; // 标题字体
$caption-font-family        : $serif; // 标题字体

/* type scale */
$type-size-1                : 2.441em;  // ~39.056px
$type-size-2                : 1.953em;  // ~31.248px
$type-size-3                : 1.4em;    // ~25.008px
$type-size-4                : 1.2em;    // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 1em;      // ~12px
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px

/*
   Colors
   ========================================================================== */

$gray                       : #7a8288; // 灰色
$dark-gray                  : mix(#000, $gray, 40%); // 深灰色
$darker-gray                : mix(#000, $gray, 60%); // 更深的灰色
$light-gray                 : mix(#fff, $gray, 50%); // 浅灰色
$lighter-gray               : mix(#fff, $gray, 90%); // 更浅的灰色

$body-color                 : #fff; // 主体颜色
$background-color           : #ffffff; // 背景颜色
$code-background-color      : #fafafa; // 代码背景颜色
$code-background-color-dark : $light-gray; // 深色代码背景颜色
$text-color                 : $dark-gray; // 文字颜色
$border-color               : $lighter-gray; // 边框颜色

$primary-color              : #7a8288; // 主色
$success-color              : #62c462; // 成功颜色
$warning-color              : #f89406; // 警告颜色
$danger-color               : #ee5f5b; // 危险颜色
$info-color                 : #224b8d; // 信息颜色

/* brands */
$behance-color              : #1769FF; // Behance颜色
$dribbble-color             : #ea4c89; // Dribbble颜色
$facebook-color             : #3b5998; // Facebook颜色
$flickr-color               : #ff0084; // Flickr颜色
$foursquare-color           : #0072b1; // Foursquare颜色
$github-color               : #171516; // GitHub颜色
$google-plus-color          : #dd4b39; // Google Plus颜色
$instagram-color            : #517fa4; // Instagram颜色
$lastfm-color               : #d51007; // Last.fm颜色
$linkedin-color             : #007bb6; // LinkedIn颜色
$pinterest-color            : #cb2027; // Pinterest颜色
$rss-color                  : #fa9b39; // RSS颜色
$soundcloud-color           : #ff3300; // SoundCloud颜色
$stackoverflow-color        : #fe7a15; // Stack Overflow颜色
$tumblr-color               : #32506d; // Tumblr颜色
$twitter-color              : #55acee; // Twitter颜色
$vimeo-color                : #1ab7ea; // Vimeo颜色
$vine-color                 : #00bf8f; // Vine颜色
$youtube-color              : #bb0000; // YouTube颜色
$xing-color                 : #006567; // Xing颜色

/* links */
$link-color                 : $info-color; // 链接颜色
$link-color-hover           : mix(#000, $link-color, 25%); // 链接悬停颜色
$link-color-visited         : mix(#fff, $link-color, 25%); // 链接访问过的颜色
$masthead-link-color        : $primary-color; // 页眉链接颜色
$masthead-link-color-hover  : mix(#000, $primary-color, 25%); // 页眉链接悬停颜色

/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true); // 设置断点
$small                      : 600px !default; // 小屏幕断点
$medium                     : 768px !default; // 中屏幕断点
$medium-wide                : 900px !default; // 中宽屏幕断点
$large                      : 925px !default; // 大屏幕断点
$x-large                    : 1280px !default; // 超大屏幕断点

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px; // 右侧边栏窄宽度
$right-sidebar-width        : 0px; // 右侧边栏宽度
$right-sidebar-width-wide   : 0px; // 右侧边栏宽宽度

$susy: (
  columns: 12, // 栏数
  column-width: 120px, // 栏宽
  gutters: 1/4, // 栏间距
  math: fluid, // 数学计算方式
  output: float, // 输出方式
  gutter-position: after, // 栏间距位置
  container: $large, // 容器宽度
  global-box-sizing: border-box, // 全局盒模型
);

/*
   Other
   ========================================================================== */

$border-radius              : 4px; // 边框圆角
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125); // 盒子阴影
$navicon-width              : 28px; // 导航图标宽度
$navicon-height             : 4px; // 导航图标高度
$global-transition          : all 0.2s ease-in-out; // 全局过渡效果
